body {
  font-family: "Open Sans", sans-serif;
  background: #ededed;
  font-size: 14px;
  min-width: 319px;
}
img {
  max-width: 100%;
  height: auto;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}
.btn_enable {
  background-color: #d61802;
  color: white;
  text-decoration: none;
}
.btn_enable:hover {
  background-color: #f93b25;
}
.btn_disable {
  background-color: #e87552;
  color: white;
}
.menuTop {
  background-color: #ffffff;
  text-transform: uppercase;
}
.menuTop .navbar {
  margin-bottom: 0;
  padding: 30px 0;
}
.menuTop .navbar-default .container {
  padding-left: 0;
}
.menuTop .navbar-default .container .navbar-collapse {
  padding-left: 0;
}
.menuTop .navbar-default .navbar-nav li > a {
  color: black;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: background .2s;
}
.menuTop .navbar-default .navbar-nav li > a:hover {
  text-decoration: underline;
}
.menuTop .navbar-default .navbar-nav li > a.btn_enable {
  background-color: #d61802;
  color: white;
  text-decoration: none;
}
.menuTop .navbar-default .navbar-nav li > a.btn_enable:hover {
  background-color: #f93b25;
}
.menuTop .navbar-default .navbar-nav li > a > .glyphicon {
  margin-right: 10px;
  font-size: 17px;
  position: relative;
  top: 3px;
}
.menuTop .navbar-default .navbar-nav li > a .flag {
  margin-right: 5px;
  position: relative;
  top: -1px;
}
.menu-carousel .container {
  position: relative;
}
.menu-carousel .container .search {
  color: #bfbfbf;
  font-size: 22px;
  position: absolute;
  line-height: 80px;
  right: 40px;
  display: none;
  transition: all .3s;
}
.menu-carousel .container .search:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: white;
}
.menu-carousel .menuMain {
  position: absolute;
  top: 30px;
  z-index: 21;
  width: 100%;
}
.menu-carousel .menuMain .navbar-inverse {
  background: transparent;
  border: none;
}
.menu-carousel .menuMain .navbar-inverse .navbar-nav li a {
  color: white;
  font-size: 16px;
}
.menu-carousel .menuMain .navbar-inverse .navbar-nav li a:hover {
  text-decoration: underline;
}
.menu-carousel .menuMain .navbar-inverse .main-menu-bg {
  background: #000000;
  border-radius: 4px;
  padding: 16px 30px;
}
.menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-form {
  padding: 5px;
  margin: 0;
}
.menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-form input {
  padding: 20px;
  border: none;
}
.menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-form button {
  padding: 10px 15px;
  margin: 0;
  border: none;
  color: #bfbfbf;
  transition: color .3s;
}
.menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-form button:hover {
  background: white;
  color: black;
}
.menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-header .navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: white;
  padding: 0;
  margin: 0;
}
.menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-header .navbar-brand img {
  float: left;
  margin-top: -16px;
}
.menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-header .navbar-brand span {
  display: inline-block;
  padding: 15px;
  text-transform: uppercase;
}
.menu-carousel .carousel.fade {
  opacity: 1;
}
.menu-carousel .carousel.fade .carousel-indicators-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.menu-carousel .carousel.fade .carousel-indicators-wrap .carousel-indicators {
  margin: 0;
  position: relative;
  bottom: -15px;
  left: 0;
  display: inline-block;
  background: #ffffff;
  width: auto;
  padding: 5px 25px;
  border-radius: 2px;
  border: 1px solid #d3d3d3;
}
.menu-carousel .carousel.fade .carousel-indicators-wrap .carousel-indicators li {
  background-color: #d3d3d3;
  width: 8px;
  height: 8px;
  margin: 0;
  margin-right: 20px;
  border: none;
}
.menu-carousel .carousel.fade .carousel-indicators-wrap .carousel-indicators li:last-child {
  margin-right: 0;
}
.menu-carousel .carousel.fade .carousel-indicators-wrap .carousel-indicators li.active {
  background-color: #b0b0b0;
  border: none;
  width: 8px;
  height: 8px;
}
.menu-carousel .carousel.fade .item {
  min-height: 714px;
  opacity: 0;
  transition: opacity .5s;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.menu-carousel .carousel.fade .item.active {
  opacity: 1;
  position: relative;
  z-index: 1;
}
.menu-carousel .carousel.fade .item .bgslide {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.menu-carousel .carousel.fade .item .carousel-caption {
  display: inline-block;
  left: inherit;
  right: inherit;
  bottom: inherit;
  top: 225px;
}
.menu-carousel .carousel.fade .item .carousel-caption h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
.menu-carousel .carousel.fade .item .carousel-caption p {
  font-size: 30px;
}
.menu-carousel .carousel.fade .item .carousel-caption .btn_enable {
  background-color: #d61802;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  font-size: 24px;
  border-radius: 2px;
  padding: 10px 25px;
}
.menu-carousel .carousel.fade .item .carousel-caption .btn_enable:hover {
  background-color: #f93b25;
}
.menu-carousel .carousel.fade .item.item_2 .carousel-caption {
  right: 0;
}
.mainSlogan {
  background-color: #ffffff;
  border-top: 1px solid #cfcfcf;
  border-bottom: 3px solid #dadada;
}
.mainSlogan__text {
  font-size: 30px;
  text-align: center;
  margin: 40px 0;
}
.sidebar {
  padding-top: 18px;
  border-right: 3px solid #dadada;
}
.sidebar .carousel .carousel-inner .item img {
  width: 100%;
}
.sidebar .carousel .carousel-inner .item .carousel-caption {
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 0;
  left: 0;
  background: white;
  color: black;
  text-shadow: none;
}
.sidebar .carousel .carousel-inner .item .carousel-caption h4 {
  font-size: 14px;
  font-weight: 700;
  margin: 20px 0;
}
.sidebar .carousel .carousel-inner .item .carousel-caption p {
  font-size: 12px;
  margin: 0 10px 10px;
}
.sidebar .carousel .carousel-indicators {
  position: relative;
  top: 0;
  margin: 0;
  padding: 5px 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #d3d3d3;
}
.sidebar .carousel .carousel-indicators li {
  background-color: #d3d3d3;
  width: 8px;
  height: 8px;
  margin: 0;
  border: none;
}
.sidebar .carousel .carousel-indicators li.active {
  background-color: #b0b0b0;
  border: none;
  width: 8px;
  height: 8px;
}
.widget {
  border-bottom: 3px solid #dadada;
  padding: 23px 0;
}
.widgetUl {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.widgetUl__item {
  color: black;
  line-height: 30px;
  display: block;
}
.widgetUl__item_link {
  color: #358acd;
  display: block;
}
.row.banners {
  margin: 0;
}
.row.banners .col-md-12 {
  padding: 0;
  padding-top: 25px;
  padding-right: 25px;
}
.sidebarBanner__img {
  width: 100%;
}
.sidebarBanner__desc {
  text-align: center;
  background: white;
  padding: 30px 0;
}
.sidebarBanner__desc a {
  width: 70%;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.sidebarBanner__desc a.btn_enable {
  background-color: #d61802;
  color: white;
  text-decoration: none;
}
.sidebarBanner__desc a.btn_enable:hover {
  background-color: #f93b25;
}
.sidebarBanner__text {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
}
.sidebarBanner__text_bold {
  font-size: 28px;
  font-weight: 700;
}
.row.about {
  margin: 0;
}
.row.about .col-md-12 {
  padding: 0;
  padding-top: 25px;
  padding-right: 25px;
}
.sidebarAbout__title {
  margin-bottom: 25px;
}
.sidebarAbout__text {
  margin-bottom: 20px;
}
.sidebarAbout__text_link {
  margin-bottom: 0;
  color: #0a95b2;
}
.main-content .main h3 {
  margin: 40px 0;
}
.main .col-sm-4 {
  padding-left: 0;
  padding-right: 30px;
}
.product {
  background-color: white;
  text-align: center;
  position: relative;
  border: 1px solid #c0c0c0;
  padding: 25px 15px;
  height: 470px;
  transition: all .4s;
}
.product:hover {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
.product__favorites {
  position: absolute;
  right: 20px;
  top: 14px;
  color: #939393;
  font-size: 20px;
  transition: all .2s;
}
.product__favorites:hover {
  color: #d61802;
  cursor: pointer;
}
.product__sale {
  border-radius: 50%;
  border: 1px solid #dadada;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-transform: uppercase;
  position: absolute;
  left: 10px;
  top: 10px;
}
.product__img {
  height: 200px;
  width: 100%;
}
.product__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  height: 40px;
  overflow: hidden;
}
.product__desc {
  height: 60px;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
}
.product__buy {
  position: absolute;
  bottom: 25px;
  left: 0;
  width: 100%;
}
.product__price {
  color: #d51e08;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 25px;
}
.product__btn {
  text-transform: uppercase;
  background-color: white;
  border-radius: 0;
  border: 1px solid #d3d3d3;
  padding: 10px 20px;
  transition: all .15s;
}
.product__btn:hover {
  background-color: #ececec;
}
.bannerRow {
  margin-top: 33px;
}
.bannerRow .col-xs-4 {
  padding-left: 0;
  padding-right: 30px;
}
.contentBanner {
  position: relative;
  overflow: hidden;
}
.contentBanner__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.contentBanner__link:hover + .contentBanner__line {
  left: 0;
}
.contentBanner__img {
  width: 100%;
}
.contentBanner__background {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100px;
}
.contentBanner__desc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}
.contentBanner__desc_colorWhite {
  color: white;
}
.contentBanner__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.contentBanner__title_colorRed {
  color: #fa6f57;
}
.contentBanner__text {
  margin: 0;
}
.contentBanner__line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: #d61802;
  left: -100%;
  transition: all .7s ease;
}
.contentBanner_backBlack {
  height: 233px;
  width: 100%;
  background-color: #1f1f1f;
}
.form-inline .form-group {
  padding-left: 5px;
  padding-right: 5px;
}
.form-inline .form-group .form-control {
  width: 100%;
}
.bottomContent {
  background-color: #f5f5f5;
  padding: 45px 0 35px;
  border-bottom: 1px solid #e9e9e9;
}
.bottomContent__title {
  margin-bottom: 3px;
}
.bottomContent__text {
  font-weight: 300;
  font-size: 18px;
}
.bottomContent__input {
  height: 50px;
}
.bottomContent__btn {
  height: 50px;
  font-weight: 700;
  margin-left: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 4px solid #d96340;
}
.bottomContent__btn:hover {
  color: white;
  background-color: #cf5c39;
}
.bottomSlider {
  background-color: white;
  padding: 35px 0;
}
.elastislide-wrapper {
  padding: 10px 80px;
  box-shadow: none;
}
.elastislide-wrapper nav span {
  background: #dddddd url(../img/nav.png) 4px 3px no-repeat;
}
.elastislide-wrapper img {
  transition: all .15s ease 0s;
}
.elastislide-wrapper img:hover {
  transform: scale(1.1);
}
.footerMenu {
  background-color: #343434;
  color: #c8c8c8;
  padding: 35px 0 40px;
}
.menuColumn__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}
.menuColumn__ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.menuColumn__ul li {
  margin-bottom: 5px;
}
.menuColumn__item {
  color: #c8c8c8;
}
.menuColumn__item:hover {
  color: #c8c8c8;
}
.social {
  white-space: nowrap;
}
.social__title {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
}
.social__item {
  margin-right: 5px;
}
.footerCopyright {
  padding: 30px 0;
}
.footerCopyright__text {
  margin: 0;
  font-weight: 700;
  line-height: 40px;
}
.footerCopyright__icon {
  margin-right: 5px;
}
@media only screen and (max-width: 1199px) {
  .menuTop .navbar-nav,
  .menuMain .navbar-nav {
    float: none !important;
  }
  .menu-carousel .container .search {
    display: block;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg {
    z-index: 20;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-form {
    z-index: 9;
    position: absolute;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: black;
    padding: 15px;
    right: 15px;
    top: 80px;
    border-top: 3px solid black;
    display: none;
  }
  .contentBanner_backBlack {
    height: 187px;
  }
  .social__item img {
    width: 40px;
  }
}
@media only screen and (max-width: 991px) {
  .menu-carousel .container .search {
    right: 29px;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg {
    padding-right: 0;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-header .navbar-brand {
    font-size: 23.07692308px;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-collapse {
    padding-right: 0;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-collapse .nav li a {
    padding-left: 8px;
    padding-right: 8px;
  }
  .menu-carousel .carousel.fade .item .carousel-caption h1 {
    font-size: 36.92307692px;
  }
  .menu-carousel .carousel.fade .item .carousel-caption p {
    font-size: 23.07692308px;
  }
  .menu-carousel .carousel.fade .item .carousel-caption .btn_enable {
    font-size: 18.46153846px;
    padding: 7.69230769px 19.23076923px;
  }
  .sidebar {
    border-right: none;
  }
  .sidebar .widget {
    border-bottom: none;
  }
  .sidebar .banners {
    border-top: 3px solid #dadada;
    border-bottom: 3px solid #dadada;
    padding-bottom: 30px;
  }
  .contentBanner_backBlack {
    height: 194px;
  }
  .sidebarAbout {
    margin-bottom: 50px;
  }
  .bottomContent {
    padding: 25px 0;
  }
  .bottomContent__text {
    margin-bottom: 20px;
  }
  .menuColumn {
    margin-bottom: 30px;
  }
  .social__item img {
    width: auto;
  }
  .footerCopyright {
    padding: 20px 0 10px;
  }
  .footerCopyright__text {
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footerCopyright__icon {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .menuTop .navbar {
    padding: 0;
  }
  .menuTop .navbar-default .container {
    padding-left: 15px;
  }
  .menuTop .navbar-default .container .navbar-collapse {
    padding-left: 15px;
  }
  .menuTop .navbar-default .navbar-nav li > a:hover {
    text-decoration: none;
    background-color: #e6e6e6;
  }
  .menuTop .navbar-default .navbar-nav li > a.btn_enable {
    max-width: 200px;
  }
  .menu-carousel .container .search {
    display: none;
  }
  .menu-carousel .menuMain .navbar {
    padding: 0;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg {
    padding-left: 20px;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-form {
    padding-left: 0px;
    width: 100%;
    display: block !important;
    position: relative;
    top: 0;
    left: 0;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-header .navbar-toggle.collapsed + .navbar-brand img {
    max-height: none;
    z-index: 20;
    position: relative;
  }
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-header .navbar-brand img {
    max-height: 70px;
    z-index: 20;
    position: relative;
  }
  .menu-carousel .menuMain .navbar-inverse .navbar-nav {
    width: 100%;
  }
  .menu-carousel .menuMain .navbar-inverse .navbar-nav li > a:hover {
    text-decoration: none;
    background-color: #191919;
  }
  .menu-carousel .menuMain .navbar-inverse .navbar-nav li > a.btn_enable {
    max-width: 200px;
  }
  .menu-carousel .container {
    padding-left: 0;
    padding-right: 0;
  }
  .menu-carousel .carousel.fade .item .carousel-caption h1 {
    font-size: 32px;
  }
  .menu-carousel .carousel.fade .item .carousel-caption p {
    font-size: 20px;
  }
  .menu-carousel .carousel.fade .item .carousel-caption .btn_enable {
    font-size: 16px;
    padding: 6.66666667px 16.66666667px;
  }
  .main .productsRow .col-sm-4 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .main .productsRow .col-sm-4:last-child .product {
    margin-bottom: 0;
  }
  .main .product {
    margin-bottom: 30px;
  }
  .bannerRow .col-sm-4 {
    padding: 4px;
  }
  .contentBanner_backBlack {
    height: 110px;
  }
  .form-inline .form-group {
    padding-left: 15px;
    padding-right: 15px;
  }
  .bottomContent {
    padding-bottom: 15px;
  }
  .bottomContent__btn {
    margin-left: 0;
  }
}
@media only screen and (max-width: 479px) {
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-header .navbar-toggle.collapsed + .navbar-brand img {
    max-height: 70px;
  }
  .contentBanner__background {
    height: 60px;
  }
  .contentBanner__title {
    font-size: 13.33333333px;
  }
  .contentBanner__text {
    font-size: 9.33333333px;
  }
}
@media only screen and (max-width: 540px) {
  .sidebar .col-xs-6 {
    width: 100%;
  }
}
@media only screen and (min-width: 1199px) {
  .menu-carousel .menuMain .navbar-inverse .main-menu-bg .navbar-form {
    display: block !important;
  }
}
